.DS_Store
node_modules/
.expo/
dist/
web-build/
*.log
.env*
!.env.example
ios/
android/
.idea/
.vscode/
*.tsbuildinfo

# Expo
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
*.pem

# local env files
.env*.local

app-example
